<% provide :title, "Recovery Leggings (リカバリーレギンス) | Sleepdays" %>
<% provide :description, "特許取得のA.A.TH繊維でふくらはぎをやさしく包み込み、非着圧の心地よさを体感できるレッグフィットです。" %>
<% provide :og_type, "website" %>
<% provide :og_title, "Recovery Leggings (リカバリーレギンス) | Sleepdays" %>
<% provide :og_description, "特許取得のA.A.TH繊維でふくらはぎをやさしく包み込み、非着圧の心地よさを体感できるレッグフィットです。" %>
<% provide :og_url, request.url %>
<% provide :twitter_title, "Recovery Leggings (リカバリーレギンス) | Sleepdays"%>
<% provide :twitter_description, "特許取得のA.A.TH繊維でふくらはぎをやさしく包み込み、非着圧の心地よさを体感できるレッグフィットです。" %>


<!-- Wrapper
------------------------------------------>
<div id="wrapper">
  <div class="wrapper_cont">

    <!-- Breadcrumb
    ------------------------------------------>
    <%
      add_breadcrumb "TOP",    root_path
      add_breadcrumb "PRODUCTS", products_path
      add_breadcrumb "Recovery Leggings", recovery_leggings_path
    %>
    <!-- End Breadcrumb
    ------------------------------------------>
    <%= render "breadcrumbs" %>

    <!-- Product Single
    ------------------------------------------>
    <section class="sect">
      <div class="sect_inner sect_mdl">
        <div class="product_sgl row">
          <div class="product_sgl_img">
            <ul class="product_slider">
              <li class="slider_item"><%= image_tag("/images/products/rl/product_rl01.png",alt: "Recovery Leggings" ) %></li>
              <li class="slider_item"><%= image_tag("/images/products/rl/product_rl02.png",alt: "Recovery Leggings" ) %></li>
              <li class="slider_item"><%= image_tag("/images/products/rl/product_rl03.png",alt: "Recovery Leggings" ) %></li>
              <li class="slider_item"><%= image_tag("/images/products/rl/product_rl04.png",alt: "Recovery Leggings" ) %></li>
            </ul>
            <button class="product_slider_prev"></button>
            <button class="product_slider_next"></button>
          </div>
          <div class="product_sgl_cont">
            <h1 class="product_heading heading fs_8 fw_5">Recovery Leggings</h1>
            <p class="product_subheading fw_4">巡りを良くして下半身の冷えなどをリカバリー</p>
            <p class="product_txt">特許取得のA.A.TH®繊維に上質な天然コットンを組み合わせた独自の糸を用い、心地良い柔らかな肌触りと伸縮性に優れたレギンスです。</p>
            <div class="product_price fs_4 fw_5">¥ 13,800 + Tax
              <span class="product_option fs_2 fw_3">Color : Navy Gray / Size : S-M, M-L</span>
            </div>
            <!-- <div class="product_check">
              <div class="check_item">
                <span class="check_name">Size :</span>
                <input type="radio" name="size" value="" checked>S-M
                <input type="radio" name="size" value="">M-L
              </div>
            </div> -->
            <a class="product_btn" target="_blank" href="https://store.two2.jp/recovery-leggings">BUY NOW</a>
          </div>
        </div>
      </div>
    </section>
    <div class="bl_l"></div>
    <section class="sect bg_g">
      <div class="sect_inner sect_sml ctr">
        <div class="product_sgl_feature">
          <h3 class="heading fs_7 fw_5">USE “A.A.TH®”</h3>
          <p class="product_feature_cont">A.A.TH®繊維は特許技術を用いて製造された、ナノレベルの鉱物を特殊配合した機能性繊維です。繊維に含まれる微小な貴金属が身体から発する熱などのエネルギーに反応します。</p>
          <a class="btn_arrow btn_more" href="/about#spe">DISCOVER</a>
        </div>
      </div>
    </section>
    <div class="bl_m"></div>
    <section class="sect">
      <div class="sect_inner sect_mdl">
        <div class="product_sgl_feature">
          <div class="feature_item row">
            <div class="feature_item_col feature_txt">
              <h2 class="feature_heading heading fs_7 fw_5">lOWER BODY SUPPORT</h2>
              <p class="product_feature_cont">筋肉は血液循環をサポートする重要な働きをしています。その中でも大きい筋肉は下半身に集中し、重力によって滞りがちな血液の循環を促します。特にふくらはぎは心臓と同様に血液を送るポンプの役割を果たしてることから、第二の心臓と言われています。Recovery Leggingsを着用することで、ふくらはぎや冷えやすいおしり・腰周りも高い保温効果により血行を促進し、冷えなどのお悩みの解消が期待できます。</p>
            </div>
            <div class="feature_item_col">
              <%= image_tag("/images/products/rl/feature_rl01.jpg",class: "feature_img" ) %>
            </div>
          </div>
          <div class="feature_item row">
            <div class="feature_item_col feature_txt">
              <h2 class="feature_heading heading fs_7 fw_5">WEARING COMFORT</h2>
              <p class="product_feature_cont">A.A.TH繊維®に上質な天然コットンを組み合わせたSleepdays独自の糸により、肌触りが良く伸縮性に優れたレギンスです。締め付け感がなく縫い目を極力抑えたデザインは、休息時の身体の動きを邪魔しない快適性を実現しました。</p>
            </div>
            <div class="feature_item_col">
              <%= image_tag("/images/products/rl/feature_rl02.jpg",class: "feature_img" ) %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bl_l"></div>
    <section class="sect bg_g">
      <div class="sect_inner sect_sml">
        <div class="product_sgl_feature">
          <h4 class="heading fs_4 fw_6 ctr">FEATURES</h4>
          <div class="feature_detail row">
            <dl class="feature_detail_col">
              <dt class="detail_name heading fw_5">COMPOSITION</dt>
              <dd class="detail_txt">ポリエステル 60% / コットン 35% / ポリウレタン 5%</dd>
              <dt class="detail_name heading fw_5">COUNTRY</dt>
              <dd class="detail_txt">日本</dd>
            </dl>
            <dl class="feature_detail_col">
              <dt class="detail_name heading fw_5">DETAIL</dt>
              <dd class="detail_txt">ウエスト : 58〜70cm(S-M) / 64〜77cm(M-L)、ヒップ : 82〜95cm(S-M) / 87〜100cm(M-L)、総丈 : 86cm(S-M) / 90cm(M-L)</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <%= render "novelties" %>
    <%= render "column_news" %>
  </div>
</div>
<!-- End Wrapper
------------------------------------------>
