<% provide :title, "Recovery Long Sleeve T-Shirt (リカバリーロングスリーブTシャツ) | Sleepdays" %>
<% provide :description, "着心地や寝心地など、様々な要素を突き詰めた結果、ミニマルなデザインでありながら、使いやすさと高い機能性を両立させたロングスリーブTシャツとして完成しました。" %>
<% provide :og_type, "website" %>
<% provide :og_title, "Recovery Long Sleeve T-Shirt (リカバリーロングスリーブTシャツ) | Sleepdays" %>
<% provide :og_description, "着心地や寝心地など、様々な要素を突き詰めた結果、ミニマルなデザインでありながら、使いやすさと高い機能性を両立させたロングスリーブTシャツとして完成しました。" %>
<% provide :og_url, request.url %>
<% provide :twitter_title, "Recovery Long Sleeve T-Shirt (リカバリーロングスリーブTシャツ) | Sleepdays"%>
<% provide :twitter_description, "着心地や寝心地など、様々な要素を突き詰めた結果、ミニマルなデザインでありながら、使いやすさと高い機能性を両立させたロングスリーブTシャツとして完成しました。" %>

<!-- Wrapper
------------------------------------------>
<div id="wrapper">
  <div class="wrapper_cont">

    <!-- Breadcrumb
    ------------------------------------------>
    <%
      add_breadcrumb "TOP",    root_path
      add_breadcrumb "PRODUCTS", products_path
      add_breadcrumb "Recovery Long Sleeve T-Shirt", recovery_long_sleeve_tshirt_path
    %>
    <!-- End Breadcrumb
    ------------------------------------------>
    <%= render "breadcrumbs" %>

    <!-- Product Single
    ------------------------------------------>
    <section class="sect">
      <div class="sect_inner sect_mdl">
        <div class="product_sgl row">
          <div class="product_sgl_img">
            <ul class="product_slider">
              <li class="slider_item"><%= image_tag("/images/products/rlst/product_rlst01.png",alt: "Recovery Long Sleeve T-Shirt" ) %></li>
              <li class="slider_item"><%= image_tag("/images/products/rlst/product_rlst02.png",alt: "Recovery Long Sleeve T-Shirt" ) %></li>
              <li class="slider_item"><%= image_tag("/images/products/rlst/product_rlst03.png",alt: "Recovery Long Sleeve T-Shirt" ) %></li>
            </ul>
            <button class="product_slider_prev"></button>
            <button class="product_slider_next"></button>
          </div>
          <div class="product_sgl_cont">
            <h1 class="product_heading heading fs_8 fw_5">Recovery Long Sleeve T-Shirt</h1>
            <p class="product_subheading fw_4">着心地と機能性を両立させたロングスリーブTシャツ</p>
            <p class="product_txt">特許取得のA.A.TH®繊維に品質の高い天然コットンを巻き付けたSleepdays独自の糸を使用した生地で優しく包み込み、休息時の寝返りなどで肌にストレスがかからないつくりのロングスリーブTシャツです。</p>
            <div class="product_price fs_4 fw_5">¥ 16,800 + Tax
              <span class="product_option fs_2 fw_3">Color : Gray / Size : Men M，L  Women M,L</span>
            </div>
            <!-- <div class="product_check">
              <div class="check_item">
                <span class="check_name">Sex :</span>
                <input type="radio" name="sex" value="" checked>Men
                <input type="radio" name="sex" value="">Women
              </div>
              <div class="check_item">
                <span class="check_name">Size :</span>
                <input type="radio" name="size" value="" checked>M
                <input type="radio" name="size" value="">L
              </div>
            </div> -->
            <a class="product_btn" target="_blank" href="https://store.two2.jp/recovery-long-sleeve-tshirt">BUY NOW</a>
          </div>
        </div>
      </div>
    </section>
    <div class="bl_l"></div>
    <section class="sect bg_g">
      <div class="sect_inner sect_sml ctr">
        <div class="product_sgl_feature">
          <h3 class="heading fs_7 fw_5">USE “A.A.TH®”</h3>
          <p class="product_feature_cont">A.A.TH®繊維は特許技術を用いて製造された、ナノレベルの鉱物を特殊配合した機能性繊維です。繊維に含まれる微小な貴金属が身体から発する熱などのエネルギーに反応します。</p>
          <a class="btn_arrow btn_more" href="/about#spe">DISCOVER</a>
        </div>
      </div>
    </section>
    <div class="bl_m"></div>
    <section class="sect">
      <div class="sect_inner sect_sml ctr">
        <div class="product_sgl_feature">
          <h2 class="heading fs_7 fw_5">REDUCE STRESS</h2>
          <p class="product_feature_cont">下着の縫製などで採用されるフラットシーマで縫製をしています。縫い目などのわずかなひっかかりが休息時のストレスに繋がるため、それらをできるだけ排除しています。ディティールへのこだわりが、寝返りの際などに感じるわずかなストレスをも軽減します。</p>
        </div>
      </div>
    </section>
    <div class="bl_m"></div>
    <section class="sect">
      <div class="sect_inner sect_sml ctr">
        <div class="product_sgl_feature">
          <h2 class="heading fs_7 fw_5">SOFTNESS AND FUNCTIONALITY</h2>
          <p class="product_feature_cont">A.A.TH®繊維の表面に丹念に不要物を取り除いた超長綿と呼ばれる品質の高い天然コットンを巻き付けSleepdays独自の糸を開発しました。A.A.TH®繊維の機能を保持しながらも肌触りの良い柔らかい風合いを実現しています。</p>
        </div>
      </div>
    </section>
    <div class="bl_l"></div>
    <section class="sect bg_g">
      <div class="sect_inner sect_sml">
        <div class="product_sgl_feature">
          <h4 class="heading fs_4 fw_6 ctr">FEATURES</h4>
          <div class="feature_detail row">
            <dl class="feature_detail_col">
              <dt class="detail_name heading fw_5">COUNTRY</dt>
              <dd class="detail_txt">日本</dd>
            </dl>
            <dl class="feature_detail_col">
              <dt class="detail_name heading fw_5">DETAIL</dt>
              <dd class="detail_txt">Men（胸囲） : 88〜95cm(M)、92〜100cm(L) / （身長） : 165〜175cm(M)、170〜180cm(L)<br>Women（胸囲） : 79〜87cm(M)、82〜90cm(L) / （身長） : 155〜165cm(M)、160〜170cm(L)</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <%= render "novelties" %>
    <%= render "column_news" %>
  </div>
</div>
<!-- End Wrapper
------------------------------------------>
